node_modules/
.pnpm-store/
dist/
.turbo/
.next/
.cache/

*.local
.env
.env.local
.env.*.local
*.key

.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log

*.tsbuildinfo

.DS_Store
Thumbs.db

coverage/
